.main-page{    
    height: 100vh;
    display: flex;    
}

.pannel{
    background-color: aquamarine;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    box-shadow: 1px 1px 100px rgb(185,185,185);  
    border-style: solid;
    border-radius: 5%;  
}

.selection{
    background-color: beige;
    width: 100%;
    height: 75px;
    color: aqua;
    display: flex;
    justify-content: center; 
    align-items: center;   
    border-style: dashed; 
    border-radius: 25%;
}

.content{    
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: floralwhite;
}

.header{
    background-color: aqua;
    height: 100px;
    box-shadow: 1px 1px 100px rgb(185,185,185);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 350px;    
}

img{
    padding-right: 10px;
}

.display{
    display: flex;
    flex-direction: column;
}

.title {
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

.about {
    display: flex;   
    justify-content: center;
    align-items: center; 
}

.me {
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 50px rgb(185,185,185);
    border-radius: 25%;
}
.video-demo {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}